@tailwind base;
@tailwind components;
@tailwind utilities;
/* Asegúrate de que el CSS de Tailwind esté incluido aquí */

html, body {
    height: 100%;
    overflow-y: auto; /* Asegura que la scrollbar vertical esté siempre activa */
  }
  
  /* Scrollbar personalizada para navegadores WebKit (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #003b5c; /* Color del fondo de la scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0704b1; /* Color de la parte desplazable de la scrollbar */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Estilos para Firefox */
  * {
    scrollbar-width: thin; /* Hacer la scrollbar delgada */
    scrollbar-color: hwb(226 31% 8%) #003b5c; /* Color de la parte desplazable y el fondo */
  }
  
  /* Definir la animación para el efecto de "escritura" */
@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* Hacer el cursor invisible usando borde transparente */
    border-right: 3px solid transparent; /* Cursor invisible */
    width: 0;
    animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;
  }
  
  /* Hacer que el cursor "parpadee" si lo necesitas */
  @keyframes blink {
    50% {
      border-color: transparent; /* Mantener invisible el cursor */
    }
  }
  

  /* Estilo para la transición de imágenes dentro del modal */
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.modal-image {
  width: 100%;
  height: 64vh; /* Ajuste para que la imagen sea más alta en el modal */
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.modal-image-enter {
  animation: slideInLeft 0.5s forwards;
}

.modal-image-exit {
  animation: slideInRight 0.5s forwards;
}

.modal-navigation {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
}

.modal-navigation button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-navigation button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}



/* Efecto de movimiento deslizante (de izquierda a derecha) */
.mosaic-image {
  position: relative;
  animation: slide 5s linear infinite; /* 5 segundos de duración, se repite infinitamente */
}

@keyframes slide {
  0% {
    transform: translateX(-100%); /* Inicia fuera del contenedor por la izquierda */
  }
  100% {
    transform: translateX(100%); /* Termina fuera del contenedor por la derecha */
  }
}

.mosaic-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
